<?php
namespace WebFrame;
?>
.odd {
	background-color: <?php echo getConf('odd_bgcolor'); ?>;
}
.even {
	background-color: <?php echo getConf('even_bgcolor'); ?>;
}
.hebrew {
	direction: rtl;
}
input.day {
	width: 2em;
}
input.year {
	width: 3em;
}
input.time {
	width: 5em;
}
hr {
	height: 0px;
	border-top: 1px dashed blue;
}
.pointer {
	cursor: pointer;
}
.right {
	float: right;
}
img.inline {
	width: 0.8em;
}
.breadcrumb {
	font-family: sans-serif;
}
.breadcrumb a {
	color: blue;
}
.alert {
	display: none;
	position: fixed;
	width: 60%;
	left: 20%;
	overflow: hidden;
	text-align: center;
	background: rgb(255,240,125);
	z-index: 100000;
	padding: 1em;
	border-radius: 0 0 2em 2em;
	box-shadow: 0 10px 10px rgb(100,100,100);
}
.alert .close_alert {
	float: right;
	position: relative;
	right: -5px;
	top: -5px;
	font-size: 120%;
}
