<?php
namespace WebFrame;
?>
.messagebox {
	background-repeat: no-repeat;
	background-position: center left;
	border-width: 5px;
	border-style: outset;
	position: relative;
	left: 10%;
	width: 70%;
	padding: 1em;
	padding-left: 70px;
	min-height: 64px;
	margin: 1em;
}
.messagebox.short {
	left: 5%;
	width: 25%;
	padding: 0.5em;
	padding-left: 32px;
	min-height: 32px;
	vertical-align: middle;
}
.error {
	border-color: rgb(255,0,0);
	background-color: rgb(255,200,200);
	background-image: <?php echo 'url("'.url('images/error.gif').'")' ?>;
}
.error.short {
	background-image: <?php echo 'url("'.url('images/error_small.gif').'")' ?>;
}
.warning {
	border-color: rgb(255,255,0);
	background-color: rgb(255,255,200);
	background-image: <?php echo 'url("'.url('images/warning.gif').'")' ?>;
}
.warning.short {
	background-image: <?php echo 'url("'.url('images/warning_small.gif').'")' ?>;
}
.success {
	border-color: rgb(0,255,0);
	background-color: rgb(200,255,200);
	background-image: <?php echo 'url("'.url('images/success.gif').'")' ?>;
}
.success.short {
	background-image: <?php echo 'url("'.url('images/success_small.gif').'")' ?>;
}
/* Causes height to stick to 64px min.
.messagebox .title, .messagebox .message {
	float: left;
	clear: both;
}
.messagebox * .title, .messagebox * .message {
	float: none;
	clear: none;
}
*/
.messagebox .title {
	font-weight: bold;
	font-size: 120%;
}
.messagebox .message {
	font-style: italic;
}
.messagebox .message i {
	font-style: normal;
}
